/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@400;700&family=Onest:wght@400;700&display=swap");

/* Tailwind & DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

/* Root Variables */
:root {
  --color-primary: #1e40af;
  --color-secondary: #cccccc;
  --color-detail1: #10b981;
  --color-detail2: #ec4899;
  --color-textPrimary: #111827;
  --color-textSecondary: #6b7280;
  --color-button: #3b82f6;
  --color-buttonHover: #2563eb;
  --color-buttonDisabled: #9ca3af;
  --color-error: #dc2626;
  --color-confirm: #16a34a;
  --fs-350: 3.85rem; /* 3.5 * 1.1 */
  --fs-300: 3.3rem; /* 3 * 1.1 */
  --fs-172: 1.892rem; /* 1.72 * 1.1 */
  --fs-150: 1.65rem; /* 1.5 * 1.1 */
  --fs-124: 1.364rem; /* 1.24 * 1.1 */
  --fs-100: 1.1rem; /* 1 * 1.1 */
  --fs-98: 1.078rem; /* 0.98 * 1.1 */
  --fs-96: 1.056rem; /* 0.96 * 1.1 */
  --fs-80: 0.88rem; /* 0.8 * 1.1 */
  --fs-75: 0.825rem; /* 0.75 * 1.1 */
  --fs-65: 0.8rem; /* 0.65 * 1.1 */
  --fs-54: 0.8rem; /* 0.54 * 1.1 */
  --fs-36: 0.5em; /* 0.36 * 1.1 */
}

.main {
  --color-base-100: #fffcf9;
  --color-base-200: #fbedda;
  --color-base-300: #f3ca91;
  --color-base-content: #61412e;

  --color-primary: #2f9a6e;
  --color-primary-content: rgb(250, 250, 250);

  --color-secondary: rgb(235, 135, 68);
  --color-secondary-content: rgb(99, 94, 79);

  --color-accent: rgb(148, 192, 158);
  --color-accent-content: rgb(164, 67, 169);

  --color-neutral: rgb(107, 101, 87);
  --color-neutral-content: rgb(251, 251, 253);

  --color-info: rgb(77, 157, 224);
  --color-info-content: rgb(34, 53, 103);

  --color-success: rgb(0, 210, 143);
  --color-success-content: rgb(13, 56, 40);

  --color-warning: rgb(239, 193, 26);
  --color-warning-content: rgb(86, 56, 2);

  --color-error: rgb(248, 51, 60);
  --color-error-content: rgb(92, 30, 18);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}

.dark {
  --color-base-100: #0b0908;
  --color-base-200: #26221f;
  --color-base-300: #edaf5a;
  --color-base-content: #fdf5ea;
  --color-primary: #2f9a6e;
  --color-primary-content: #ffffff;
  --color-secondary: #eb8744;
  --color-secondary-content: oklch(37% 0.01 67.558);
  --color-accent: #94c09e;
  --color-accent-content: #330036;
  --color-neutral: #fdf5ea;
  --color-neutral-content: #795039;
  --color-info: #4d9de0;
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: #00d28f;
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: #efc11a;
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: #f8333c;
  --color-error-content: oklch(14% 0 0);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}

.contrast {
  --color-base-100: rgb(255, 255, 255);
  --color-base-200: rgb(255, 255, 255);
  --color-base-300: rgb(0, 0, 0);
  --color-base-content: rgb(0, 0, 0);
  --color-primary: rgb(0, 0, 0);
  --color-primary-content: rgb(255, 255, 255);
  --color-secondary: rgb(0, 0, 0);
  --color-secondary-content: rgb(255, 255, 255);
  --color-accent: rgb(0, 0, 0);
  --color-accent-content: rgb(255, 255, 255);
  --color-neutral: rgb(0, 0, 0);
  --color-neutral-content: rgb(255, 255, 255);

  --color-info: rgb(31, 53, 108);
  --color-info-content: rgb(255, 255, 255);

  --color-success: rgb(13, 56, 40);
  --color-success-content: rgb(255, 255, 255);

  --color-warning: rgb(86, 56, 2);
  --color-warning-content: rgb(255, 255, 255);

  --color-error: rgb(92, 30, 18);
  --color-error-content: rgb(255, 255, 255);
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-detail1: var(--color-detail1);
  --color-detail2: var(--color-detail2);
  --color-textPrimary: var(--color-textPrimary);
  --color-textSecondary: var(--color-textSecondary);
  --color-button: var(--color-button);
  --color-buttonHover: var(--color-buttonHover);
  --color-buttonDisabled: var(--color-buttonDisabled);
  --color-error: var(--color-error);
  --color-confirm: var(--color-confirm);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Athiti", sans-serif;
  --font-title: "Onest", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Athiti", sans-serif;
}

/* Title Styling */
.title {
  font-family: "Onest", sans-serif;
  font-weight: 800; /* ExtraBold */
  font-size: var(--fs-150);
  width: 100%;
  text-align: center;
  vertical-align: top;
  color: var(--color-primary);
  line-height: 1.1; /* optional, für bessere Lesbarkeit */
  margin: 0;
}

.titleBig {
  font-size: var(--fs-172);
}

/* Text Styling */
.text {
  color: var(--color-base-content);
  font-family: "Athiti", sans-serif;
  font-size: var(--fs-75);
}
.text96 {
  font-size: var(--fs-96);
  font-weight: 400;
}
.text65 {
  font-size: var(--fs-65);
  font-weight: 400;
}

.text54 {
  font-size: var(--fs-54);
  font-weight: 400;
}

.text75 {
  font-size: var(--fs-75);
}

.text100 {
  font-size: var(--fs-100);
}
.text150 {
  font-size: var(--fs-150);
}

.text350 {
  font-size: var(--fs-350);
  font-weight: 700;
}

.text300 {
  font-size: var(--fs-300);
  font-weight: 500;
}

.text36 {
  font-size: 10px;
  font-weight: 500;
}

.text124 {
  font-size: var(--fs-124);
  font-weight: 700;
}

.Textbold {
  font-weight: 700;
}

.TextSelect {
  color: var(--color-accent);
}

.hoverButtonBase {
  border: none;
  transition: transform 0.3s, background-color 0.3s;
}

.hoverButtonBase:hover {
  background-color: var(--color-base-300);
  transform: scale(1.05);
}

.hoverButtonPrim {
  border: none;
  transition: transform 0.3s, background-color 0.3s;
}

.hoverButtonPrim:hover {
  background-color: var(--color-accent);
  transform: scale(1.05);
}

.buttonStyle {
  height: 2.3rem;
}

.hoverButtonX {
  font-size: var(--fs-124);
  font-weight: 300;
  border: none;
  transition: transform 0.3s, background-color 0.3s;
}

.hoverButtonX:hover {
  background-color: rgb(from var(--color-base-300) r g b / 10%);
  transform: scale(2);
  font-weight: 100;
}

.hoverButtonX:focus {
  background-color: rgb(from var(--color-base-300) r g b / 50%);
  transform: scale(2);
  font-weight: 100;
}

.hoverButtonRound {
  border: none;
  transition: transform 0.3s, background-color 0.3s;
}

.hoverButtonRound:hover {
  background-color: rgb(from var(--color-base-300) r g b / 50%);
  transform: scale(1.1);
}

.hoverButtonRoundActive {
  border: none;
  transition: transform 0.3s, background-color 0.3s;
}

.hoverButtonRoundActive:hover {
  background-color: rgb(from var(--color-accent) r g b / 90%);
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

/* Scrollbar-Styling für Firefox */
* {
  scrollbar-width: thin; /* oder auto, thin, none */
  scrollbar-color: #999 #f0f0f0; /* Daumenfarbe + Trackfarbe */
}
