/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@400;700&family=Onest:wght@400;700&display=swap");

/* Tailwind & DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

/* Root Variables */
:root {
  --color-primary: #1e40af;
  --color-secondary: #cccccc;
  --color-detail1: #10b981;
  --color-detail2: #ec4899;
  --color-textPrimary: #111827;
  --color-textSecondary: #6b7280;
  --color-button: #3b82f6;
  --color-buttonHover: #2563eb;
  --color-buttonDisabled: #9ca3af;
  --color-error: #dc2626;
  --color-confirm: #16a34a;
  --fs-350: 3.5rem;
  --fs-300: 3rem;
  --fs-172: 1.72rem;
  --fs-150: 1.5rem;
  --fs-124: 1.24rem;
  --fs-100: 1rem;
  --fs-98: 0.98rem;
  --fs-96: 0.96rem;
  --fs-80: 0.8rem;
  --fs-75: 0.75rem;
  --fs-65: 0.65rem;
  --fs-54: 0.54rem;
  --fs-36: 0.36rem;
}

.main {
  --color-base-100: rgb(252, 245, 237);
  --color-base-200: rgb(251, 237, 218);
  --color-base-300: rgb(108, 239, 136);
  --color-base-content: rgb(121, 80, 57);

  --color-primary: rgb(47, 154, 110);
  --color-primary-content: rgb(250, 250, 250);

  --color-secondary: rgb(235, 135, 68);
  --color-secondary-content: rgb(99, 94, 79);

  --color-accent: rgb(148, 192, 158);
  --color-accent-content: rgb(164, 67, 169);

  --color-neutral: rgb(107, 101, 87);
  --color-neutral-content: rgb(251, 251, 253);

  --color-info: rgb(77, 157, 224);
  --color-info-content: rgb(34, 53, 103);

  --color-success: rgb(0, 210, 143);
  --color-success-content: rgb(13, 56, 40);

  --color-warning: rgb(239, 193, 26);
  --color-warning-content: rgb(86, 56, 2);

  --color-error: rgb(248, 51, 60);
  --color-error-content: rgb(92, 30, 18);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}

.dark {
  --color-base-100: oklch(15% 0.09 281.288);
  --color-base-200: oklch(20% 0.09 281.288);
  --color-base-300: oklch(25% 0.09 281.288);
  --color-base-content: oklch(78% 0.115 274.713);
  --color-primary: oklch(71% 0.202 349.761);
  --color-primary-content: oklch(28% 0.109 3.907);
  --color-secondary: oklch(82% 0.111 230.318);
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(75% 0.183 55.934);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(45% 0.24 277.023);
  --color-neutral-content: oklch(87% 0.065 274.039);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: oklch(73.7% 0.121 32.639);
  --color-error-content: oklch(23.501% 0.096 290.329);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}

.contrast {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(15.906% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(21.455% 0.001 17.278);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26.861% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(90.13% 0.153 164.14);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(15.732% 0.03 28.47);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}
@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-detail1: var(--color-detail1);
  --color-detail2: var(--color-detail2);
  --color-textPrimary: var(--color-textPrimary);
  --color-textSecondary: var(--color-textSecondary);
  --color-button: var(--color-button);
  --color-buttonHover: var(--color-buttonHover);
  --color-buttonDisabled: var(--color-buttonDisabled);
  --color-error: var(--color-error);
  --color-confirm: var(--color-confirm);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Athiti", sans-serif;
  --font-title: "Onest", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Athiti", sans-serif;
}

/* Title Styling */
.title {
  font-family: "Onest", sans-serif;
  font-weight: 800; /* ExtraBold */
  font-size: var(--fs-150);
  width: 100%;
  text-align: center;
  vertical-align: top;
  color: var(--color-primary);
  line-height: 1.1; /* optional, für bessere Lesbarkeit */
  margin: 0;
}

.titleBig {
  font-size: var(--fs-172);
}

/* Text Styling */
.text {
  color: var(--color-base-content);
  font-family: "Athiti", sans-serif;
  font-size: var(--fs-75);
}
.text96 {
  font-size: var(--fs-96);
  font-weight: 400;
}
.text65 {
  font-size: var(--fs-65);
  font-weight: 400;
}

.text54 {
  font-size: var(--fs-54);
  font-weight: 400;
}

.text75 {
  font-size: var(--fs-75);
}

.text100 {
  font-size: var(--fs-100);
}
.text150 {
  font-size: var(--fs-150);
}

.text350 {
  font-size: var(--fs-350);
  font-weight: 700;
}

.text300 {
  font-size: var(--fs-300);
  font-weight: 500;
}

.text36 {
  font-size: 10px;
  font-weight: 500;
}

.text124 {
  font-size: var(--fs-124);
  font-weight: 700;
}

.Textbold {
  font-weight: 700;
}

.TextSelect {
  color: var(--color-accent);
}
